<p>Choose App</p>
<table >
	<thead>
		<tr>
        <th>Name</th>
        <th>FRL</th>
         <th>Model</th>
      	</tr>
    </thead>
    <tbody>
    	<% @eoapps.each do |app| %>
		<tr>
    	<td><%= link_to app.name, terminal_path( app ) %></td>
    	<td><%= app.frl %></td>
        <td><%= app.eomodel_id %></td>
  		</tr>
		<% end %>
    </tbody>
</table>