<div id="head">
<p>Land</p>
<!-- Choose app to manage with drag and drop CRUD-->
<select id="pickapp" tracker="test">
<% @eoapps.each do |app| %>
<option value="<%= app.id %>"><%= app.name %></option>
<% end %>
</select>
</div>
<!-- Crud consol for selected app -->
<div id="appdisplay"></div>