<p>Main Menu</p>
<p>Build New App: <%= link_to "Build A App", buildapp_path %> </p>
<p>Manage Existing App: <%= link_to "Manage A App", manageapp_path %> </p>
<p>View App With RubyFox: <%= link_to "RubyFox", rubyfox_path %> </p>
